[user]
	name = joppe
	email = joppeaarts@bol.com

[init]
	defaultBranch = main

[alias]
	st = status -s -b
	b = checkout -b
	p = push -u
	pf = push -u --force-with-lease

[push]
	default = current

[pull]
	rebase = true

[fetch]
	prune = true

[rebase]
	autostash = true

[rerere]
  enabled = true

[includeIf "gitdir:~/work/joppe/"]
  path = ~/work/joppe/.gitconfig
